/**
*  Publish Igor1309Dev Theme
*  based on Foundation Theme by John Sundell
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #000;
    font-family: Helvetica, Arial;
    text-align: center;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5em;
    text-align: left;
}

header {
    background-color: #eee;
}

header .wrapper {
    padding-top: 1.875em;
    padding-bottom: 1.875em;
    text-align: center;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 3em;
    font-family: -apple-system;
    color: #000;
    font-weight: bolder;
}

header .site-description {
    margin: 0.75em 0;
    color: #c7c7c7;
    /*
    font-size: 2.5em;
    font-weight: bold;
     */
}

nav {
    margin-top: 1.25em;
    font-family: -apple-system;
}

nav li {
    display: inline-block;
    margin: 0 0.4375em;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: .14em;
}

nav li a.selected {
    text-decoration: underline;
}

h1 {
    margin-bottom: 1.25em;
    font-size: 2em;
}

h1 > a {
    text-decoration: none;
}

h2,
h3 {
    margin-top: 1em;
}

h2,
h3,
p,
.content li {
     margin-bottom: 0.6em;
}

a {
    /*color: inherit;*/
    color: #eb8e15;
}

.description {
    margin-bottom: 2.5em;
}

.item-list > li {
    display: block;
    padding: 1.25em;
    border-radius: 1.25em;
    background-color: #eee;
    margin-bottom: 1.25em;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 1em;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 0;
}

.wrapper .item-date {
    font-size: 0.8em;
    color: gray;
}

.item-list .item-date {
    font-size: 0.75em;
}

.tag-list {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.tag-list,
.tag {
    font-size: 0.9em;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: #202124;
    padding: 0.25em 0.375em;
    border-radius: 0.3125em;
    margin-right: 0.3125em;
}

.tag-list a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 2.5em;
}

.browse-all {
    display: block;
    margin-bottom: 1.875em;
}

.all-tags li {
    font-size: 0.85em;
    margin-right: 0.625em;
    padding: 0.375em 0.625em;
}

footer {
    color: #8a8a8a;
    font-family: -apple-system;
    /* font-weight: lighter; */
    font-size: smaller;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #242529;
    }

    body {
        color: #ddd;
    }

    header .site-name {
        color: #eb8e15;
    }

    header description {
        color: #ddd;
    }

    .item-list > li {
        background-color: #202124;
    }

    header {
        background-color: #202124;
    }
}

@media(max-width: 600px) {
    .wrapper {
        padding: 2.5em 1.25em;
    }
}

blockquote p {
    position: relative;
    color: #c7c7c7;
    /* background-color: #efefef; */
    padding: 0.625em 0.625em 0.625em 0.9375em;
    border-top-right-radius: 0.4375em;
    border-bottom-right-radius: 0.4375em;
    border-left: 0.05em solid #eb8e15;
}

/**
 *  CSS that can be used to style Splash HTML output
 */

pre {
    margin-bottom: 1.5em;
    background-color: #1a1a1a;
    padding: 1em 0;
    border-radius: 1em;
}

pre code {
    font-family: monospace;
    display: block;
    padding: 0 1.25em;
    color: #a9bcbc;
    line-height: 1.4em;
    font-size: 0.95em;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}

pre code .keyword {
    color: #e73289;
}

pre code .type {
    color: #8281ca;
}

pre code .call {
    color: #348fe5;
}

pre code .property {
    color: #21ab9d;
}

pre code .number {
    color: #db6f57;
}

pre code .string {
    color: #fa641e;
}

pre code .comment {
    color: #6b8a94;
}

pre .comment,
pre .comment:not(.token):not(code) {
    display: block !important;
    /* visibility: visible; */
}

pre code .dotAccess {
    color: #92b300;
}

pre code .preprocessing {
    color: #b68a00;
}
